* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    height: 100vh;
    background: linear-gradient(#200016, #10001f);
    overflow-x: hidden;
}

header {
    display: none;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: .5s;
    padding: 14px;
    border-radius: 50px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

li {
    list-style: none;
    margin: 20px;
    font-size: 25px;
    margin-right: 70px;
    font-weight: 500;
}

.logo {
    font-size: 35px;
    margin: 40px;
    margin-left: 80px;
    font-weight: 800;
}

li a:hover {
    color: black;
    background-color: white;
}


.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

.main::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #200016, transparent);
}

.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon {
    mix-blend-mode: screen;
    transform: translateY(40px);
}

.about {
    color: white;
    padding: 30px;
    z-index: 2;
}

.about h1 {
    margin: 20px;
    font-size: 36px;
}

.about p {
    margin: 20px;
}
